.comment {
  background: white;
  margin: 0 0 1em 0;
  padding: 1em;

  .submitted {
    color: #999;
    font-weight: bold;
  }

  mark {
    border-radius: 3px;
    display: inline;
    font-size: .8em;
    margin: 0 1ex;
    padding: .1em .3em;
  }

  .new {
    color: $wwu-blue;
  }

  .links {
    border-top: 2px solid $wwu-ocean-blue;
    display: block;
    margin: 0;
    padding: .5em .5em 0;
  }
}
