.page-draft {

  .field {
    margin-bottom: 1.5em;
  }

  .rules-link-wrapper {
    display: inline-block;
  }

  .rules-link {
    display: inline-block;
    background: $wwu-blue;
    color: white;
    padding: .8em 1.2em;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $wwu-ocean-blue;
      box-shadow: none;
    }

    &:active {
      background: $wwu-lime;
      color: $wwu-blue;
      box-shadow: none;
    }
  }

  .rules-link-wrapper {
    margin-bottom: 1em;
  }

}
