.view-policy-subjects {
  $element-spacing: .5em;

  .view-content {
    @include column-count(1);
    @include column-gap($element-spacing);

    @include breakpoint($display-small + 120px) {
      @include column-count(2);
    }

    @include breakpoint($display-medium + 60px) {
      @include column-count(3);
    }

    @include breakpoint($display-large + 30px) {
      @include column-count(4);
    }
  }

  .views-row {
    margin-bottom: $element-spacing;
  }

  .views-field-name a {
    @include column-break(inside, avoid);
    @include block-link;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
