.view-policy-search {
  .views-row:not(.content-type-policy) {
    color: $wwu-red;
    display: list-item;
    list-style-position: inside;
    list-style-type: square;
    margin-left: 1em;
  }

  .views-row:not(.content-type-policy) + .views-row.content-type-policy {
    margin-top: 1em;
  }

  .views-exposed-form .form-submit {
    margin-top: 0;
  }
}
