.views-table {
  border-collapse: separate;
  border-spacing: 1px;
  color: $wwu-blue;
  margin: 0 0 1.5em;
  width: 100%;

  tr {
    border: 0;
  }

  td,
  th {
    background-color: $views-table-background-color;
    border: 0;

  }

  th {
    background-color: $views-table-header-background-color;
    color: #fff;
  }

  td {
    a {
      color: $views-table-link-color;
    }
  }
}
