@mixin block-link {
  background-color: $block-link-background-color;
  box-sizing: border-box;
  color: $wwu-blue;
  display: inline-block;
  padding: 1em;

  &:hover,
  &:focus {
    background-color: $wwu-blue;
    color: #fff;
    text-decoration: none;
  }

  &:active {
    background-color: $wwu-ocean-blue;
  }
}
