$block-link-background-color: lighten($wwu-gray-blue, 45);
$views-table-background-color: lighten($wwu-gray-blue, 45);
$views-table-header-background-color: $wwu-gray-blue;
$views-table-link-color: darken($wwu-ocean-blue, 3);
